/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/clipseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions

  // Your params for the minimal dataset start here guys
  outdir = "./results"
  fasta_path = "/data/MSc/2021/clipseq/sirna_trimmed_chr20.fa"
  fastq_path = "/data/MSc/2021/clipseq/sirna_trimmed_chr20.fq.gz"
  gtf_path = "/data/MSc/2021/clipseq/ref/chr20.gtf"
  refgenome_path = "/data/MSc/2021/clipseq/ref/chr20.fa"
  smrna_path = "/data/MSc/2021/clipseq/Homo_sapiens.smallRNA.fa"
  star_path = "/data/MSc/2021/clipseq/index_star_ch20"
  multiqc_config = "/data/omccaffrey/MA5112/nextflow_assignment/running_clipseq.nf/config_and_docs/multiqc_config.yaml"
  output_docs = "/data/omccaffrey/MA5112/nextflow_assignment/running_clipseq.nf/config_and_docs/output.md"
  trimming = false
}
